.chat-component{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.chat-header{
    padding: 20px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.chat-header .header-info{
    flex: 1;
    padding-left: 20px;
}

.chat-header .header-info>h3{
    margin-bottom: 3px;
    font-weight: 500px;
}
.chat-header .header-info>p{
    color: gray;
}



.chat-body{
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    flex:1;
    display: flex;
    flex-direction: column-reverse;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    padding-bottom: 0px;
    overflow-y: scroll;
}
.chat-body::-webkit-scrollbar {
    display: none;
  }
  
  .chat-body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  .chat-message{
    position: relative;
    background: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.chat-message > p{
    flex: 1;
}
  .chat-message-component .time{
    align-self: flex-end;
    margin-left: 10px;
      color: grey;
      font-size: xx-small
  }

  .chat-message-sender{
      margin-left: auto;
      background: #dcf8c6;
  }


  .chat-footer{
      display: flex;
      /* min-height: 62px; */
      border-top: 1px solid lightgray;
  }

  .chat-footer > .form{
    flex: 1;
    display: flex;
    padding: 10px;

}

.chat-footer > .form > .message-input{
    flex: 1;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    resize: none;
    
}

.chat-footer > .form > .input-button{
    display: none;
}

.chat-footer > .form > .message-input:focus,
.chat-footer > .form > .message-input:focus-visible {
  outline: none;
}

.chat-footer>.MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}