.sidebar {
  flex: 0.35;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgrey;
}

.sidebar-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
.sidebar-header-right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 20px !important;
}

.sidebar-search {
  background: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.search-container {
  display: flex;
  background: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
  /* justify-content: center; */
  align-items: center;
}
.search-container > .MuiSvgIcon-root {
  color: grey;
  padding: 18px;
}

.search-container input {
  margin-left: 10px;
  border: none;
  width: 100%;
}

.search-container input:focus,
.search-container input:focus-visible {
  outline: none;
}

.sidebar-chats {
  flex: 1;
  overflow-y: scroll;
  background: white;
}

.sidebar-chats::-webkit-scrollbar {
  display: none;
}

.sidebar-chats {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar-chat {
	display: flex;
	padding: 20px;
	cursor: pointer;
	border-bottom:2px solid #f6f6f6;
}

.sidebar-chat:hover {
	background: #ebebeb;	
}

.info{
	margin-left: 15px;
}
.info>p{
	font-size: 16px;
	margin-bottom: 8px;
}